/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;
}

.pagination .page-item {
    cursor: pointer;
}

.pagination .page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    text-decoration: none;
    display: inline-block;
		font-weight: normal;
}

.pagination .page-item.active .page-link {
    background-color: #ffa500;
    color: #fff;
    border-color: #ffa500;
}

.pagination .page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.6;
}

/* 부트스트랩 호버 효과 덮어쓰기 */
.pagination .page-item:not(.active):not(.disabled):hover .page-link {
	background-color: white;
	border-color: rgb(221, 221, 221);
	color: black;
}

/* 부트스트랩 포커스 효과 덮어쓰기 */
.pagination .page-item .page-link:focus {
	box-shadow: none;
	outline: none;
}

.pagination .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container {
	width: 1080px;
	margin: 0 auto; /* 가운데 정렬 */
}
.bcontainer{
  margin-top:30px;
  width: 1080px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 16px;
}

.menu {
	width: 1080px;
}

/* 커뮤니티 탑*/
.commutop {
	display: flex;
}

.search {
	width: 400px; /* 너비를 키움 */
	margin-top: 55px;
	position: relative; /* 부모 요소에 position: relative; 추가 */
}

.hrs {
	margin-top: 40px;
	width: 1000px;
}

.select-row {
	display: flex;
	margin-bottom: 1rem;
}

.selectbox {
	margin-right: 60px;
	margin-left: 37px;
	margin-bottom: 0;
	padding: 0.700rem 0.75rem;
}

.search img {
	width: 25px;
	height: 25px;
	margin-top: 11px; /* 이미지와 셀렉트 박스 사이 여백 설정 */
	margin-right: 10px; /* 이미지와 셀렉트 박스 사이 여백 설정 */
	position: absolute;
	left: 830px; /* 왼쪽에 위치하도록 설정 */
}

.searchBox {
	height: 50px;
	width: 720px; /* 검색 상자 너비 조정 */
	border-radius: 10px;
	background: rgb(255, 255, 255); font-size : 15px;
	padding-left: 35px; /* 아이콘이 검색 상자 안으로 들어가게 패딩 설정 */
	font-weight: bold;
	border: 0px;
	box-shadow: 0 5px 10px rgba(186, 185, 185, 0.19);
	margin-right: 5px; /* 이미지와의 여백 설정 */
	margin-left: 170px;
	font-size: 15px;
}

.searchBox::placeholder {
	color: rgb(199, 199, 199);
}

.searchBox:focus {
	outline: none;
}

/* 글 작성하러 가기 버튼 */
.go-post {
	display: flex;
    padding-right: 20px;
}

.writeBtn {
	margin-right: 40px;
}

.go-post button {
	margin-left: auto;
}

.postListdiv {
	width: 1080px;
	padding-right: 25px;
}

.card {
	width: 1000px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(133, 133, 133, 0.1);
	margin: 20px auto;
	overflow: hidden;
}

.card-body {
	cursor: pointer;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 10px 15px;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f9f9f9;
}

.nickname {
	font-weight: bold;
	font-size: 1rem;
}

.location {
	color: #999;
	font-size: 0.9rem;
}

.card-title {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 10px 15px;
	cursor: pointer;
}

.card-text {
	font-weight: bold;
	font-size: 0.9rem;
	padding: 10px 15px;
	cursor: pointer;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	border-top: 1px solid #e0e0e0;
	background-color: #f9f9f9;
}

.interaction {
	display: flex;
	gap: 10px;
}

.interaction button {
	font-size: 0.9rem;
	color: #666;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.interaction button:focus {
	outline: none;
}

.emptyPostimg {
	margin-top: 150px;
	margin-left: 515px;
	width: 100px;
	height: 100px;
}

.emptyPosttxt {
	margin-top: 20px;
	margin-left: 380px;
}

.uploadData {
	margin-left: 760px;
	margin-top: 5px;
   margin-bottom: 5px;
	color: #999;
	font-size: 13px;
}

.page-item.active .page-link {
	background-color: #ffa500;
	border-color: #ffa500;
}