@charset "UTF-8";

.menu-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    left: 70px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: FAEBAC(243, 226, 239);
    border-left: 1px solid #FAEBAC;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 998;
}

.custom-svg {
    width: 50px;
    height: 70px;
    fill: rgb(0, 0, 0);
    stroke-width: 2px;
    position: relative;
    top: 4px;
    left: 4px;
}

.btn-custom {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
}

/* 커뮤니티 탑의 스타일 */
.commutop {
    display: flex;
    align-items: center;
}
/* 커뮤니티 글자 */
.commutext{
    padding-top: 18px;

}
.commutext2{
    padding-left: 17px;
}

/* 텍스트 박스의 스타일 */
.textbox {
    padding: 10px;
}

/* 제목 입력란의 너비를 50%로 설정 */
#title {
    width: 370%;
}

/* 내용 입력란의 높이를 200px로 크게 조정하고, 세로 스크롤이 필요할 때만 스크롤 표시 */
#content {
    width: 370%;
    height: 400px;
    overflow-y: auto;
}