.container {
    width: 1080px;
    margin: 0 auto; /* 가운데 정렬 */
}
/* 커뮤니티 탑*/
.commutop {
    display: flex;
}
.commutext{
   margin-left: 250px;
   margin-top: 65px;
   margin-right: 40px;
}

.search {
    width: 400px; /* 너비를 키움 */
    margin-top: 55px;
    position: relative; /* 부모 요소에 position: relative; 추가 */
}

.select-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.selectbox {
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 0; 
    padding: 0.700rem 0.75rem; 
}

.search img {
    width: 25px;
    height: 25px;
    margin-top: 11px; /* 이미지와 셀렉트 박스 사이 여백 설정 */
    margin-right: 10px; /* 이미지와 셀렉트 박스 사이 여백 설정 */
    position: absolute;
    left: 455px; /* 왼쪽에 위치하도록 설정 */
}

.searchBox {
    height: 46px;
    width: 500px; /* 검색 상자 너비 조정 */
    border-radius: 10px;
    background: rgb(248, 248, 248);
    font-size: 14px;
    padding-left: 35px; /* 아이콘이 검색 상자 안으로 들어가게 패딩 설정 */
    font-weight: bold;
    border: 0px;
    box-shadow: 0 5px 10px rgba(186, 185, 185, 0.19), 0 6px 6px rgba(99, 99, 99, 0.23);
    margin-right: 5px; /* 이미지와의 여백 설정 */
}

.searchBox::placeholder {
    color: #b7b7b7;
}

.searchBox:focus {
    outline: none;
}

.card {
    width: 1000px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(133, 133, 133, 0.1);
    margin: 20px auto;
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.nickname {
    font-weight: bold;
    font-size: 1rem;
}

.location {
    color: #999;
    font-size: 0.9rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
}

.card-text {
    padding: 0 15px 10px 15px;
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.interaction {
    display: flex;
    gap: 10px;
}

.interaction button {
    font-size: 0.9rem;
    color: #666;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.interaction button:focus {
    outline: none;
}
.emptyPostimg{
	margin-top: 150px;
	margin-left: 515px;
	width: 100px;
	height: 100px;
}
.emptyPosttxt{
	margin-top:20px;
	margin-left: 380px;
}
.uploadData{
	margin-left: 750px;
    color: #999;
}