@charset "UTF-8";
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.detail-page-container {
	display: flex;
	flex-direction: column;
	width: 1024px;
	align-items: center;
	height: 1400px;
}
.apt-container {
	width: 1024px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}
.apt-name {
	font-size: 26px;
}
.apt-address {
	font-size: 22px;
	color: #616161;
	margin-left: 10px;
}
.base-date{
	font-size: 18px;
	color: #BDBDBD;
	position: absolute;
	margin-right: -800px;
	margin-top: 60px;
}
.chart-container {
	width: 1024px;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	margin-top: 30px;
	align-items: center;
}
.shoulder-knee-chart {
	width: 450px;
	display: flex;
	flex-direction: row;
}
.person {
	height: 300px;
	position: absolute;
	margin-top: 30px;
	margin-left: -100px;
}
table {
    width: 350px;
    height: 300px;
    border-collapse: collapse;
    border-top: 1px solid #d4d4d4;
    margin-left: -50px;
    margin-top: 50px;
}

tr {
    border-bottom: 1px solid #d4d4d4;
}

td {
    height: calc(390px / 6); /* 각 행의 높이를 300px / 5로 설정 */
    text-align: center;
}
.none-border{
	border-bottom: 0px;
}
.shoulder-knee-price{
	width: 120px;
	text-align: end;
	position: absolute;
	margin-left: 170px;
	margin-top: -45px;
}
.text-gray{
	color: #bdbdbd;
}
.price-detail-container {
	display: flex;
	flex-direction: column;
	width: 1024px;
	align-items: center; 
	margin-top: 30px;
	justify-content: flex-start;
}
.price-title {
	font-size: 22px;
	width: 1024px;
}
.price-content-container {
	width: 1024px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
}
.price-content {
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.price-inner-content {
	display: flex;
	flex-direction: column;
	height: 90px;
	justify-content: space-around;
}
.price-high-row {
	display: flex;
	flex-direction: column;
	color: #616161;
}
.max-min-price {
	margin-left: 10px;
}
.trade-list-container {
	width: 1024px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 20px;
}
.trade-title {
	font-size: 22px;
}
.trade-list {
	display: flex;
	flex-direction: column;
	width: 1024px;
	margin-top: 20px;
	padding-bottom: 50px;
}
.trade-list-title {
	width: 964px;
	height: 50px;
	border-bottom: 1px solid #616161;
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.trade-list-column {
	width: 100px;
	margin-top: 20px;
	text-align: center;
}
.trade-list-content {
	width: 964px;
	height: 50px;
	border-bottom: 1px solid #616161;
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
}
.trade-list-value {
	width: 100px;
	margin-top: 20px;
	text-align: center;
}

