@charset "UTF-8";
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.detail-page-container {
	display: flex;
	flex-direction: column;
	width: 1024px;
	align-items: center;
	height: 1400px;
}
.apt-container {
	width: 1024px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}
.apt-name {
	font-size: 26px;
}
.apt-address {
	font-size: 22px;
	color: #616161;
	margin-left: 10px;
}
.chart-container {
	width: 1024px;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	margin-top: 30px;
	align-items: center;
}
.shoulder-knee-chart {
	width: 450px;
	display: flex;
	flex-direction: row;
}
.person {
	height: 300px;
	position: absolute;
	margin-top: -5px;
	margin-left: -100px;
}
.price-detail-container {
	display: flex;
	flex-direction: column;
	width: 1024px;
	align-items: center; 
	margin-top: 30px;
	justify-content: flex-start;
}
.price-title {
	font-size: 22px;
	width: 1024px;
}
.price-content-container {
	width: 1024px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18px;
}
.price-content {
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.price-inner-content {
	display: flex;
	flex-direction: column;
	height: 90px;
	justify-content: space-around;
}
.price-high-row {
	display: flex;
	flex-direction: column;
	color: #616161;
}
.max-min-price {
	margin-left: 10px;
}
.trade-list-container {
	width: 1024px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 20px;
}
.trade-title {
	font-size: 22px;
}
.trade-list {
	display: flex;
	flex-direction: column;
	width: 1024px;
	margin-top: 20px;
	padding-bottom: 50px;
}
.trade-list-title {
	width: 964px;
	height: 50px;
	border-bottom: 1px solid #616161;
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.trade-list-column {
	width: 100px;
	margin-top: 20px;
	text-align: center;
}
.trade-list-content {
	width: 964px;
	height: 50px;
	border-bottom: 1px solid #616161;
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
}
.trade-list-value {
	width: 100px;
	margin-top: 20px;
	text-align: center;
}
