@charset "UTF-8";
body, html {
	margin: 0;
}

.logo {
	height: 65px;
	width: 65px;
}

.header-container{
	/*background: #F9DE7B;*/
	height: 80px;
	min-width: 1400px;
	border-bottom: 1.5px solid #616161;
	margin:0;
	display: flex;
	justify-content:center;
}

.logo-container {
	margin-right: 20px; /* 로고와 메뉴 사이 간격 추가 */
}

.header-inner-container{
	width: 1080px;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-left-inner-container {
	display: flex;
	flex-direction: row;
	align-items: center; /* 세로 중앙 정렬 추가 */
	width: auto; /* 고정 너비 제거 */
}

.header-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px; /* 고정 너비 제거 */
	align-items: center; /* 세로 중앙 정렬 추가 */
	margin-left: 20px;
	font-size: 1.2em;
}

.header-menu-container span {
	margin-right: 30px; /* 메뉴 항목 사이 간격 추가 */
}

.header-menu-container span:last-child {
	margin-right: 0; /* 마지막 메뉴 항목의 오른쪽 마진 제거 */
}

.header-right-inner-container{
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.header-user-container{
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

a {
	font-weight: bold;
	text-decoration: none;
	font-size: 1.1em;
	color: #616161;
}

a:visited, a:hover, a:active {
	color: #616161;
}