@charset "UTF-8";
/* home.css */

.home-menu-inner-container {
  padding: 20px;
}
.search-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.select-box {
  flex: 1 1 30%;
}
.select-box select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.price-container, .area-container {
  margin-bottom: 10px;
}
.price-select-btn, .area-select-btn {
  width: 100%;
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.district-list-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
}

.search-filter {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}
.filter-id {
  cursor: pointer;
}
.selected-flag {
  color: #F9DE7B;
}

.search-select-container select {
  height: 30px;
  border-radius: 0px;
}

/* 팝업창 스타일 */
.popup {
    position: fixed;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 100;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
}

.popup-close-btn {
    cursor: pointer;
}

/* 선택박스 스타일 */
.price-option {
    width: 100%;
    padding:5px; /* 상하 패딩을 줄이고 좌우 패딩을 조정합니다. */
    margin-top: 10px; /* 간격 */
    border: 1px solid #ddd;
    border-radius: 4px; /* 둥근 모서리 */
    /* 글자 크기 조정 */
    font-size: 14px; /* 글자 크기를 적절하게 조정합니다. */
    /* 높이 조정 */
    height : 50px;
    
}
/* 선택된 가격대 표시 스타일 */
.selected-price-range {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.confirm-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.building {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.building:hover {
  transform: translateY(-5px);
}

.building-header {
  display: flex;
  align-items: center;
}

.building-label {
  font-size: 0.3em;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 2px 3px;
  margin-right: 5px;
  border: 1px solid #E0E0E0;
}

.building-name {
  font-size: 1.3em;
  font-weight: bold;
}

.building-info {
  font-size: 0.5em;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

/* 최근 거래 내역 */
.building-sale {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lately-title {
  font-size: 0.8em;
}

.lately-price {
  color: #E3242B;
  font-size: 1.1em;
  font-weight: bold;
}

.lately-info {
  font-size: 0.5em;
}

.sale-info {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.sale-title {
  font-size: 0.5em;
}

.sale-min-price, .sale-max-price {
  color: #E3242B;
  font-size: 0.8em;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.pagination span {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: black;
}

.pagination .active {
  background-color: #ffa500;
  color: #fff;
  border-color: #ffa500;
}

