@charset "UTF-8";
.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.search img {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  right: 35px;
}
.search-box {
  height: 40px;
  width: 335px;
  border-radius: 10px;
  background: rgb(248, 248, 248);
  font-size: 14px;
  padding-left: 15px;
  font-weight: bold;
  border: 0px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.search-box::placeholder {
  color: #b7b7b7;
}
.search-box:focus {
  outline: none;
}
.home-menu-inner-container {
  background-color: #F3F5F9;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.search-filter {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}
.filter-id {
  cursor: pointer;
}
.selected-flag {
  color: #F9DE7B;
}
.search-select-container {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-select-container select {
  height: 30px;
  border-radius: 0px;
}
.district-list-container {
  width: 350px;
  background-color: white;
  height: 720px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
