/* login.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
}


.login-container {
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.btn {
  margin: 0 0.5rem;
  color: #000 !important;
}

.btn-primary {
  background-color: #fedf04;
  border-color: #fedf04;
  color: #000;
}

.btn-primary:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000;
}

.btn-secondary {
  background-color: #e9ecef;
  border-color: #ced4da;
}

.btn-secondary:hover {
  background-color: #dee2e6;
  border-color: #ced4da;
}

.alert-danger {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}