@charset "UTF-8";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: calc(100% - 70px);
  height: 100%;
  position: absolute;
  left: 70px;
}

.marker-container {
  height: 30px;
  padding: 2px 10px;
  position: absolute;
  border-radius: 5px;
  background-color: #FAEBAC;
  font-size: 14px;
  color: #495057;
  text-align: center;
  align-content: center;
  text-wrap: nowrap;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.marker-container:hover {
  z-index: 999;
}

.marker-container:after {
  content: "";
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #FAEBAC;
}

.navbar {
  height: 100%;
  width: 70px;
  z-index: 999;
  background-color: white;
  border-right: 1px solid #d4d4d4;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-content {
  display: flex;
  height: 70px;
  width: 70px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-content img {
  width: 30px;
  height: 30px;
}

.menu {
  display: none !important;
  position: absolute;
  left: 70px;
  margin-top:65px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #d4d4d4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 998;
}

.menu.active {
  display: block !important;
}

.close-menu {
  border: 1px solid #d4d4d4;
  border-left: 0;
  background-color: white;
  position: absolute;
  border-radius: 0 3px 3px 0;
  width: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 400px;
  top: 50vh;
  cursor: pointer;
}

.close-menu-img {
  width: 15px;
  height: 20px;
}

.page-item.page-link.active {
  background-color: #4CAF50; /* 활성 페이지의 배경색 */
  color: white; /* 활성 페이지의 글자색 */
  border: 1px solid #4CAF50; /* 활성 페이지의 테두리 */
}


.tttt {
  border: 2px solid black;
  position: absolute;
  width: 400px;
  left: 70px;
  top: 70px;
  z-index: 999;
}





.search-container {
  border: 2px solid black;
  position: absolute;
  width: 350px;
  left: 70px;
  z-index: 999;
}



.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.search img {
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  right: 25px;
  justify-content: center;
}

.search-box {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background: #f8f8f8;
  font-size: 15px;
  padding-left: 15px;
  font-weight: bold;
  border: 1px solid #616161;
}

.search-box::placeholder {
  color: #b7b7b7;
}

.search-box:focus {
  outline: 0.5px solid #616161;
}

/* 자동 완성 */
.auto-complete {
  position: absolute;
  width: 350px;
  margin: 1px 10px;
  background: #f8f8f8;
  border-radius: 10px;
}

.auto-complete > div.active {
  background: #BDBDBD;
  color: white;
}

.auto-complete > div:hover, .auto-complete > div.hover {
  background: #666;
  color: white;;
}

.auto-complete > div {
  background: #f8f8f8;
  padding: .2rem .6rem;
  cursor: pointer;
}