/* 게시글 카드 */
.list-container {
  width: 900px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-sizing: border-box;
  margin: auto;
  padding: 5px; /* 상하 패딩 추가 */
  overflow-y: auto; /* 내부 스크롤 추가 */
}

.post {
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 호버 시 약간의 그림자 추가 */
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remove-header {
  display: flex;
  margin-left: auto;
  margin-bottom: 30px;
  transition: transform 0.2s ease;
}

.remove-header:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-remove {
  width: 20px;
  height: 20px;
  padding: 5px;
}

 .post-id, .id {
	display: none;
}

.post-label {
  font-size: 0.7em;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 2px 3px;
  margin-right: 5px;
  border: 1px solid #E0E0E0;
}

.post-title {
  font-size: 1.3em;
  font-weight: bold;
}

.post-content {
  font-size: 0.9em;
  margin-bottom: 15px;
  flex-grow: 1;
}

/* 조회수 및 작성일 정보 */
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #666;
}

.post-info {
  font-style: italic;
}

.view-info {
  display: flex;
  align-items: center;
}

.view-title {
  margin-right: 5px;
}

.view-count {
  font-weight: bold;
  color: #E3242B;
}

/* 스크롤 수정 예정 */
.list-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  flex: 1;
  overflow-y: auto;
}