<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 카드</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='../css/communityCard.css' type='text/css'/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
        	
            // 댓글 수정 버튼 클릭 이벤트
            $(".comment-section").on("click", ".edit-comment", function(e) {
                e.preventDefault();
                var commentElement = $(this).closest(".comment");
                commentElement.find(".edit-box").show();
                commentElement.find(".comment-text").hide();
                $(this).hide();
            });

            // 댓글 수정 저장 버튼 클릭 이벤트
            $(".comment-section").on("click", ".save-edit", function() {
                var commentElement = $(this).closest(".comment");
                var commentId = $(this).data("comment-id");
                var newCommentText = commentElement.find(".edit-input").val();

                $.ajax({
                    url: '/comments/commentUpdate/' + commentId,
                    type: 'POST',
                    data: { commentText: newCommentText },
                    success: function(response) {
                        commentElement.find(".comment-text").text(newCommentText).show();
                        commentElement.find(".edit-box").hide();
                        commentElement.find(".edit-comment").show();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("댓글 수정 실패: " + textStatus + " - " + errorThrown);
                    }
                });
            });

            // 댓글 수정 취소 버튼 클릭 이벤트
            $(".comment-section").on("click", ".cancel-edit", function() {
                var commentElement = $(this).closest(".comment");
                commentElement.find(".edit-box").hide();
                commentElement.find(".comment-text").show();
                commentElement.find(".edit-comment").show();
            });
        	
            $(".commentSub").click(function() {
                var postId = $('#postId').val();
                var commentText = $("#CommentText").val(); 

                $.ajax({
                    url: '/comments/posts/' + postId,
                    type: 'POST',
                    data: {
                        postId: postId,
                        commentText: commentText
                    },
                    success: function(commentList) {
                        showAlert(); // 모달

                        var commentContainer = $('.comment-section'); 
                        commentContainer.empty();
                        
                        commentList.forEach(function(comment) {
                            var commentHtml = `
                                <div class="comment">
                                    <div class="comment-nickname">${comment.nickname}</div>
                                    <div class="comment-text">${comment.comments}</div>
                                    <div class="comment-meta">
                                        <span class="comment-reply">삭제</span>
                                    </div>
                                </div>
                                <hr>
                            `;
                            commentContainer.append(commentHtml);
                        });

                        $("#CommentText").val(''); // 입력 필드 초기화
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("댓글 등록 실패: " + textStatus + " - " + errorThrown);
                    }
                });
            });

            function showAlert() {
                $('#commentModal').modal('hide'); // 모달 닫기
                $('#successModal').modal('show'); // 성공 모달 표시
            }
            
            // 삭제 모달 띄우기
            $(".delete-post").click(function(e) {
                e.preventDefault();
                var postId = $(this).data('post-id');
                $("#confirmDeleteModal").modal('show');

                // 확인 버튼 클릭 시 DELETE 요청 보내기
                $("#confirmDeleteBtn").click(function() {
                    $.ajax({
                        url: '/postDelete?postId=' + postId,
                        type: 'DELETE',
                        success: function() {
                            $("#confirmDeleteModal").modal('hide'); // 모달 닫기
                            $("#successModal").modal('show'); // 삭제 성공 모달 띄우기
                            window.location.href = '/communityList'; 
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.error("게시글 삭제 실패: " + textStatus + " - " + errorThrown);
                        }
                    });
                });
            });

            // 게시글 등록 모달 띄우기
            $("#openCreatePostModal").click(function(e) {
                e.preventDefault();
                $("#createPostModal").modal('show');
            });

            // 게시글 등록 요청 보내기
            $("#submitPostBtn").click(function() {
                var postData = {
                    title: $("#postTitle").val(),
                    content: $("#postContent").val(),
                    // 추가적으로 필요한 데이터를 여기에 추가할 수 있음
                };

                $.ajax({
                    url: '/createPost',
                    type: 'POST',
                    data: postData,
                    success: function(response) {
                        $("#createPostModal").modal('hide'); // 모달 닫기
                        // 다른 처리를 추가할 수 있음
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("게시글 등록 실패: " + textStatus + " - " + errorThrown);
                    }
                });
            });
        });
    </script>
</head>

<body>
<div th:replace="~{header :: headerFragment}"></div>
<div class="menu-wrapper">
    <div class="menu">
        <!-- 게시글 카드 -->
        <div class="card">
            <div class="card-body">
                <!-- 게시글 헤더 -->
                <button class="backbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-arrow-left-short custom-svg"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" /></svg>
                </button>
                <div class="card-header">
                    <div class="nickname"><span th:text="${commuCard.nickname}"></span></div>
                    <div class="time"></div>
                    <div class="status"></div>
                    <div class="view-count">
                        <input type="hidden" id="postId" th:value="${commuCard.postId}">
                        <div th:if="${isAuthor}">
                            <a th:href="@{/commuUpdate(postId=${commuCard.postId})}">수정</a>
                            <span> | </span>
                            <a href="#" class="delete-post" th:data-post-id="${commuCard.postId}">삭제</a>
                        </div>
                        <div th:unless="${isAuthor}">
                        </div>
                    </div>
                </div>
                <!-- 게시글 제목 및 내용 -->
                <div class="card-title"><span th:text="${commuCard.title}"></span></div>
                <div class="card-text">
                    <span th:text="${commuCard.content}"></span>
                </div>
                <div>
                    <!-- 파일 첨부 -->
                    <div th:each="file : ${files}">
                        <img th:src="@{'/uploads/' + ${file.filePath} + ${file.fileName}}" th:alt="${file.fileOriginName}" style="max-width: 450px; max-height: 450px;"/>
                    </div>
 
                    <!-- 댓글 입력 폼 -->
                    <div class="comment-box">
                        <input id="CommentText" type="text" placeholder="댓글을 입력해주세요." />
                        <button type="button" class="commentbtn" data-bs-toggle="modal" data-bs-target="#commentModal">등록</button>
                    </div>


<!-- 댓글 섹션 -->
<div class="comment-section">
    <div class="comment" th:each="comments : ${commentList}">
        <div class="comment-nickname"><span th:text="${commuCard.nickname}"></span></div>
        <div class="comment-text" th:text="${comments.comments}"></div>
        <div class="comment-meta">
            <div th:if="${isAuthor}">
                <a href="#" class="edit-comment" th:data-comment-id="${comments.commentId}">수정</a>
                <span> | </span>
                <a th:href="@{/comments/commentdelete(commentId=${comments.commentId})}">삭제</a>
            </div>
        </div>
        <!-- 수정 입력 박스 -->
        <div class="edit-box" style="display: none;">
            <input type="text" class="edit-input" placeholder="수정할 댓글을 입력하세요" />
            <button type="button" class="save-edit" th:data-comment-id="${comments.commentId}">저장</button>
            <button type="button" class="cancel-edit">취소</button>
        </div>
    </div>
    <hr>
</div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="footer :: footerFragment"></div>

<!-- 게시글 삭제 확인 모달 -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">게시글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" id="confirmDeleteBtn" class="btn btn-danger">삭제</button>
            </div>
        </div>
    </div>
</div>


<!-- 삭제 성공 모달 -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">삭제 성공</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                게시글이 성공적으로 삭제되었습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        댓글을 등록하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="commentbtn commentSub">등록</button>
      </div>
    </div>
  </div>
</div>

<script>
    //뒤로 가기 버튼 기능 추가
    $('.backbtn').click(function() {
        window.location.href = "/communityList";
    });
</script>
</body>
</html>
