<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시판 폼 예제</title>
<link rel='stylesheet' href='../css/communityForm.css' type='text/css'/>
<!-- 부트스트랩 CSS 링크 -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Select2 CSS 링크 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 JS 링크 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- 부트스트랩 JS 링크 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Select2 초기화 스크립트 -->
<script type="text/javascript">
	$(document).ready(function() {
		$('select').select2();
	});

	// 허용할 파일 확장자 리스트(화이트리스트)
	var allowedExtensions = ['jpg', 'jpeg', 'png', 'gif'];
	var maxSize = 5242880; // 5MB

	function checkExtension(fileName, fileSize) {
		var fileExtension = fileName.split('.').pop().toLowerCase(); //.을 기준으로 나눠 마지막 값(확장자)를 소문자로 변환함

		if (fileSize >= maxSize) {
			alert("파일 사이즈가 초과되었습니다.");
			return false;
		}

		if (allowedExtensions.indexOf(fileExtension) === -1) {
			alert("해당 파일은 허용된 확장자가 아닙니다.");
			return false;
		}
		return true;
	}

 	// 게시글 업로드 (Ajax로 구현)
 	
$(document).ready(function() {
	
    var districtId; 

    $('#selectbox2').change(function() {
        districtId = $(this).children('option:selected').attr('id'); // 구 아이디 저장
    });


    $("#uploadBtn").on("click", function(e) {
        e.preventDefault(); // 폼의 기본 제출을 막음

        var formData = new FormData();
        var inputFile = $("input[name='uploadFile']");
        var files = inputFile[0].files;

        for (var i = 0; i < files.length; i++) {
            if (!checkExtension(files[i].name, files[i].size)) {
                return false;
            }
            formData.append("uploadFile", files[i]);
        }

        var postInfo = {
            userId: $("#userId").val(),
            title: $("#title").val(),
            content: $("#content").val(),
            districtId : districtId
        };
        formData.append("userId", postInfo.userId);
        formData.append("title", postInfo.title);
        formData.append("content", postInfo.content);
        formData.append("districtId", postInfo.districtId);

        $.ajax({
            url: '/postUpdate',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(result) {
                alert("Uploaded");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Upload failed: " + textStatus + " - " + errorThrown);
            }
        });
    });
});

</script>
</head>
<body>
<div class="container">
	<div class="menu">
		<div class="commutop">
			<button class="btn btn-custom">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short custom-svg" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
				</svg>
			</button>
			<div class="commutoptext">
				<h3>커뮤니티 작성</h3>
			</div>
		</div>
		<hr>
        <form action="#" id="commuForm" method="post">
            <input type="hidden" id="userId"  th:value="${userId}">
            <div class="selectboxes">
                <select id="selectbox" name="selectbox" class="form-control pt-1 mt-4" style="height: 33px; width: 40%; vertical-align: middle;">
                    <option value="" disabled selected>서울특별시 </option>
                </select>
				<select id="selectbox2" name="selectbox" class="form-control pt-1 mt-4" style="height: 33px; width: 40%; vertical-align: middle;">
				    <option value="" disabled selected>자치구</option>
				    <!-- Thymeleaf 반복문 사용하여 옵션 생성 -->
				    <th:block th:each="name : ${districts}">
				        <option th:id="${name.districtId}" th:value="${name.districtName}" th:text="${name.districtName}"></option>
				    </th:block>
				</select>
            </div>
            <hr>
            <div class="textbox">
                <h3 class="commutext2">게시글 작성</h3>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <div class="uploadDiv">
                        <input type="file" name="uploadFile" multiple>
                    </div>
                    <br>                
                    <div class="d-flex">
                        <button type="button" class="btn" style="background-color: #FAEBAC; margin-right: 10px;">Cancel</button>
                        <button id="uploadBtn"class="btn" style="background-color: #F9DE7B; margin-right: 10px;">Submit!</button>
                    </div>
                </div>
            </div>
        </form>
	</div>
</div>
</body>
</html>
