<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 카드</title>
    <link rel="stylesheet" href="styles.css">
    <link rel='stylesheet' href='../css/communityCard.css' type='text/css'/>
</head>
<body>
    <div class="menu-wrapper">
        <div class="menu">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <div class="nickname"><span th:text ="${commuCard.nickname}"></th:text></span></div>
                        <div class="time"></div>
                        <div class="status"></div>
                        <div class="view-count">조회 <span th:text ="${commuCard.postView}"></div>
                    </div>
                    <div class="card-title"><span th:text ="${commuCard.title}"></div>
                    <div class="card-text">
                        <span th:text ="${commuCard.content}">
                    </div>
                    <div class="comment-header">
                        <span class="likes">좋아요 27</span>
                        <span class="comments">댓글 20</span>
                    </div>
                    <div class="comment-box">
                        <input type="text" placeholder="댓글을 입력해주세요." />
                        <button class="commentSub">등록</button>
                    </div>
                    <!-- Comment Section -->
                    <div class="comment-section">
                        <div class="comment">
                            <div class="comment-nickname">쾰남</div>
                            <div class="comment-location"><span th:text ="${commuCard.districtName}"></div>
                            <div class="comment-text">좋은 정보 감사합니다</div>
                            <div class="comment-meta">
                                <span class="comment-reply">대댓글 달기 0</span>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
