<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>price detail</title>
<link rel='stylesheet' th:href='@{/css/detail.css}' type='text/css' />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
</head>
<body>
	<div class='detailPageContainer'>
		<div class='aptContainer'>
			<div class='aptName'>
				<strong th:text="${realEstateDetail[0].realEstate.complexName}"></strong>
			</div>
			<div class='aptAddress'>
				<strong th:text="'(' + ${realEstateDetail[0].realEstate.addressStreet} + ')'"></strong>
			</div>
		</div>
		<div class='chartContainer'>
			<div class='basicChart'>
				<canvas id="basicChart" width="450" height="300"></canvas>
			</div>
			<div class='shoulderKneeChart'>
				<img th:src="@{/assets/images/person.png}" class='person'/>
				<canvas id='skChart' width='450' height='300'></canvas>
			</div>
		</div>
		<div class='priceDetailContainer'>
			<div class='priceTitle'><strong>가격 정보</strong></div>
			<div class='priceContentContainer'>
				<div class='PriceContent'>
					<span th:text="${realEstateDetail[0].realEstateSale.salePrice} + '억'"></span>
					<div class='priceInnerContent'>
						<span>최근 5년 실거래가</span>
						<div class='priceHighRow'>
							<span id="maxPrice" class="MaxMinPrice"></span>	
							<span id="minPrice" class="MaxMinPrice"></span>	
						</div>
					</div>
				</div>
				<div class='PriceContent'>
					<span th:text="'층 : '+${realEstateDetail[0].realEstateSale.floor}+'층'"></span>
					<span th:text="'전용면적(m²) : '+${realEstateDetail[0].realEstateSale.exclusiveArea}+'m²'"></span>
					<span th:text="'계약일자 : '+${realEstateDetail[0].realEstateSale.contractDate}"></span>
					<span th:text="'등기일자 : '+${realEstateDetail[0].realEstateSale.registrationDate}"></span>
				</div>
			</div>
		</div>
		<div class='tradeListContainer'>
			<div class='tradeTitle'><strong>거래내역</strong></div>
			<div class='tradeList'>
				<div class='tradeListTitle'>
					<span class='tradeListColumn'><strong>계약년월</strong></span>
					<span class='tradeListColumn'><strong>계약유형</strong></span>
					<span class='tradeListColumn'><strong>전용면적(m²)</strong></span>
					<span class='tradeListColumn'><strong>층</strong></span>
					<span class='tradeListColumn'><strong>가격(억)</strong></span>
				</div>
				 <div th:each="sale : ${realEstatePrice}" class="tradeListContent">
			        <span class="tradeListValue" th:text="${sale.contractDate}"></span>
			        <span class="tradeListValue">매매</span>
			        <span class="tradeListValue" th:text="${sale.exclusiveArea}"></span>
			        <span class="tradeListValue" th:text="${sale.floor}"></span>
			        <span class="tradeListValue" th:text="${sale.salePrice}"></span>
			    </div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		// 페이지 로드 후 가격 정보 업데이트
	    document.addEventListener("DOMContentLoaded", function() {
	        document.getElementById("maxPrice").innerText = "최고가 : " + maxValue + "억";
	        document.getElementById("minPrice").innerText = "최저가 : " + minValue + "억";
	    });
	
	    /*<![CDATA[*/
	    var chartData = /*[[${realEstatePrice}]]*/ [];
	    
	    var labels = chartData.map(function(item) { return item.contractDate; }).reverse();
	    var values = chartData.map(function(item) { return item.salePrice; }).reverse();
	    
	    var maxValue = Math.max(...values);
	    var minValue = Math.min(...values);
	    
	    let bsCt = document.getElementById('basicChart');
		
		let basicChart = new Chart(bsCt, {
		  type: 'line',
		  data: {
		    labels: labels,
		    datasets: [
		      {
		        label: '거래가(단위/억 원)',
		        data: values,
		      }
		    ]
		  },
		    options: {
		        plugins: {
		            legend: {
		                display: false // 라벨 숨기기
		            }
		        },
		        scales: {
		            y: {
		              ticks: {
		                // labels 데이터의 최소값보다 작은 값으로 설정 (예: labels 데이터 최소값 - 10)
		                min: minValue - 1,
		                // labels 데이터의 최대값보다 큰 값으로 설정 (예: labels 데이터 최대값 + 10)
		                max: maxValue + 1,
		              }
		            },
		            x: {
		                ticks: {
		                  // For a category axis, the val is the index so the lookup via getLabelForValue is needed
		                  callback: function(val, index) {
		                    // Hide every 2nd tick label
		                    if(values.length>=6){
		                    	return index % 2 === 0 ? this.getLabelForValue(val) : '';
		                    }
		                    return this.getLabelForValue(val);
		                  },
		                  
		                }
		              }
		          }
		    }
		});
	    /*]]>*/
	</script>
	<script th:inline="javascript">
		
		
		/*<![CDATA[*/
	    var chartData = /*[[${realEstatePrice}]]*/ [];
	    
	    var values = [...new Set(chartData.map(function(item) { return item.salePrice; }))].reverse();
	    
	    // 중복 제거 후 정렬
	    values.sort((a, b) => a - b);
	    
	    var minValue = values[0];
	    var maxValue = values[values.length - 1];
	    
	    // 다섯 등분 값 계산
	    var firstQuartile = minValue + (maxValue - minValue) / 4;
	    var medianValue = minValue + (maxValue - minValue) / 2;
	    var thirdQuartile = minValue + (maxValue - minValue) * 3 / 4;

	    // 차트를 그리기 위해 데이터 배열을 생성
		var chartValues = [minValue, firstQuartile, medianValue, thirdQuartile, maxValue];
	    
		let skCt = document.getElementById('skChart');
		
		let skChart = new Chart(skCt, {
            type: 'line',
            data: {
                
                datasets: [
                    {
                        label: '가격(단위/억 원)',
                        data: chartValues,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        position: 'right',
                        ticks: {// y축 값 다섯 개만 나오게 설정
                            maxTicksLimit: 5,
                            stepSize: (maxValue - minValue)/5
                        }
                    },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true
                    }
                },
                elements: {
                    line: {
                        display: false // 라인 차트를 표시하지 않음
                    },
                    point: {
                        display: false // 데이터 포인트를 표시하지 않음
                    }
                }
            }
        });
	    /*]]>*/
	</script>
</body>
</html>