<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>price detail</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' th:href='@{/css/detail.css}' type='text/css'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
</head>
<body>
<div class="page-wrapper">
  <header th:replace="header :: headerFragment"></header>
  <main class="content-container">
    <div class='detail-page-container'>
      <div class='apt-info'>
        <h1 class='apt-name' th:text="${realEstateDetail[0].realEstate.complexName}"></h1>
        <p class='apt-address'
           th:text="'(' + ${realEstateDetail[0].realEstate.addressStreet} + ')'"></p>
        <!--        <p class='base-date'>기준일 : 2024-06-13</p>-->
      </div>
      <div class='chart-container'>
        <div class='basic-chart'>
          <canvas id="basic-chart" width="520" height="300"></canvas>
        </div>
        <div class='shoulder-knee-chart'>
          <img th:src="@{/assets/images/person.png}" class='person' alt="Person silhouette"/>
          <table>
            <tr>
              <td><span class="shoulder-knee-price text-gray" id="chart-max"></span></td>
            </tr>
            <tr>
              <td><span class="shoulder-knee-price" id="chart-shoulder"></span></td>
            </tr>
            <tr>
              <td><span class="shoulder-knee-price text-gray" id="chart-median"></span></td>
            </tr>
            <tr>
              <td><span class="shoulder-knee-price" id="chart-knee"></span></td>
            </tr>
            <tr class="none-border">
              <td><span class="shoulder-knee-price text-gray" id="chart-min"></span></td>
            </tr>
          </table>
        </div>
      </div>
      <section class='price-detail-container'>
        <h2 class='section-title'>가격 정보</h2>
        <div class='price-content-container'>
          <p class="current-price"
             th:text="'최근 거래가: ' + ${realEstateDetail[0].realEstateSale.salePrice} + '억'"></p>
          <div class='price-content'>
            <div class='recent-five-years'>
              <p class="title">최근 5년간의 거래가격</p>
              <p id="max-price" class="max-min-price"></p>
              <p id="min-price" class="max-min-price"></p>
            </div>
            <div class="sales-detail">
              <p th:text="'층 : '+${realEstateDetail[0].realEstateSale.floor}+'층'"></p>
              <p th:text="'전용면적(m²) : '+${realEstateDetail[0].realEstateSale.exclusiveArea}+'m²'"></p>
              <p th:text="'계약일자 : '+${realEstateDetail[0].realEstateSale.contractDate}"></p>
              <p th:text="'등기일자 : '+${realEstateDetail[0].realEstateSale.registrationDate}"></p>
            </div>
          </div>
        </div>
      </section>
      <section class='trade-list-container'>
        <h2 class='section-title'>거래 내역</h2>
        <div class='trade-list'>
          <div class='trade-list-title'>
            <span class='trade-list-column'>계약일</span>
            <span class='trade-list-column'>계약유형</span>
            <span class='trade-list-column'>전용면적(m²)</span>
            <span class='trade-list-column'>층</span>
            <span class='trade-list-column'>가격(억)</span>
          </div>
          <div th:each="sale : ${realEstatePrice}" class="trade-list-content">
            <span class="trade-list-value" th:text="${sale.contractDate}"></span>
            <span class="trade-list-value">매매</span>
            <span class="trade-list-value" th:text="${sale.exclusiveArea}"></span>
            <span class="trade-list-value" th:text="${sale.floor}"></span>
            <span class="trade-list-value" th:text="${sale.salePrice}"></span>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer th:replace="footer :: footerFragment"></footer>
</div>

<script th:inline="javascript">
  // 소수점 처리 함수
  function formatNumber(value) {
    const num = parseFloat(value);
    return num % 1 === 0 ? num.toFixed(0) : num.toFixed(1);
  }

  // 페이지 로드 후 가격 정보 업데이트
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("max-price").innerText = "최고가 : " + formatNumber(maxValue) + "억";
    document.getElementById("min-price").innerText = "최저가 : " + formatNumber(minValue) + "억";
    document.getElementById("chart-max").innerText = formatNumber(maxValue) + "억";
    document.getElementById("chart-shoulder").innerText = "어깨 " + formatNumber(eightyPercentValue) + "억";
    document.getElementById("chart-median").innerText = formatNumber(medianValue) + "억";
    document.getElementById("chart-knee").innerText = "무릎 " + formatNumber(twentyPercentValue) + "억";
    document.getElementById("chart-min").innerText = formatNumber(minValue) + "억";
  });

  /*<![CDATA[*/
  var chartData = /*[[${realEstatePrice}]]*/ [];

  var labels = chartData.map(function (item) {
    return item.contractDate;
  }).reverse();
  var values = chartData.map(function (item) {
    return item.salePrice;
  }).reverse();

  var maxValue = Math.max(...values);
  var minValue = Math.min(...values);
  var medianValue = (maxValue + minValue) / 2;
  var eightyPercentValue = minValue + 0.8 * (maxValue - minValue);
  var twentyPercentValue = minValue + 0.2 * (maxValue - minValue);

  let bsCt = document.getElementById('basic-chart');

  let basicChart = new Chart(bsCt, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [
        {
          label: '거래가(단위: 억)',
          data: values,
          backgroundColor: '#FEDF04'
        }
      ]
    },
    options: {
      plugins: {
        legend: {
          display: false // 라벨 숨기기
        }
      },
      scales: {
        y: {
          ticks: {
            // labels 데이터의 최소값보다 작은 값으로 설정 (예: labels 데이터 최소값 - 10)
            min: minValue - 1,
            // labels 데이터의 최대값보다 큰 값으로 설정 (예: labels 데이터 최대값 + 10)
            max: maxValue + 1,

            font: {
              size: 12,
              weight: 'bold'
            },
            callback: function(value) {
              return value + '억';
            }
          }
        },
        x: {
          ticks: {
            // For a category axis, the val is the index so the lookup via getLabelForValue is needed
            color: '#000000',
            font: {
              size: 12
            },
            callback: function (val, index) {
              // Hide every 2nd tick label
              if (values.length >= 6) {
                return index % 2 === 0 ? this.getLabelForValue(val) : '';
              }
              return this.getLabelForValue(val);
            },

          }
        }
      }
    }
  });
  /*]]>*/
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var chartData = /*[[${realEstatePrice}]]*/ [];

  var values = [...new Set(chartData.map(function (item) {
    return item.salePrice;
  }))].reverse();

  // 중복 제거 후 정렬
  values.sort((a, b) => a - b);

  var minValue = values[0];
  var maxValue = values[values.length - 1];

  // 다섯 등분 값 계산
  var firstQuartile = minValue + (maxValue - minValue) / 4;
  var medianValue = minValue + (maxValue - minValue) / 2;
  var thirdQuartile = minValue + (maxValue - minValue) * 3 / 4;

  // 차트를 그리기 위해 데이터 배열을 생성
  var chartValues = [minValue, firstQuartile, medianValue, thirdQuartile, maxValue];

  let skCt = document.getElementById('sk-chart');

  let skChart = new Chart(skCt, {
    type: 'line',
    data: {

      datasets: [
        {
          label: '가격(단위/억 원)',
          data: chartValues,
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
          fill: false
        }
      ]
    },
    options: {
      scales: {
        y: {
          position: 'right',
          ticks: {// y축 값 다섯 개만 나오게 설정
            maxTicksLimit: 5,
            stepSize: (maxValue - minValue) / 5
          }
        },
      },
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          enabled: true
        }
      },
      elements: {
        line: {
          display: false // 라인 차트를 표시하지 않음
        },
        point: {
          display: false // 데이터 포인트를 표시하지 않음
        }
      }
    }
  });
  /*]]>*/
</script>
</body>
</html>
