<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" class="list-container">

  <div th:each="favorite : ${favoriteList}" th:if="${not #lists.isEmpty(favoriteList)}">
 <!--  <div th:each="favorite, loop : ${favoriteList}"> -->

    <div class="building">
      <div class="building-header">
      	<span class="favorite-id" th:text="${favorite.favoriteId}"></span>
        <div class="building-label" th:text="${favorite.buildingTypeName}"></div>
        <div class="building-name" th:text="${favorite.complexName}"></div>
        <div class="remove-header">
        	<img class="favorite-remove" th:src="@{/assets/images/remove.png}"/>
        </div>
      </div>

      <div class="building-info">
        <div>
          <span th:text="${favorite.cityName}"></span>
          <span th:text="' / ' + ${favorite.districtName}"></span>
          <span class="neighborhood" th:text="' / ' + ${favorite.neighborhoodName}"></span>
        </div>
        <div>
          <span th:text="'설립:' + ${favorite.constructionYear}"></span>
          <span th:text="' / 번지:' + ${favorite.address}"></span>
          <span th:text="' / 도로명:' + ${favorite.addressStreet}"></span>
        </div>
      </div>

      <div class="building-sale">
        <div>
          <div class="lately-title">최근 매매 실거래가</div>
          <div class="lately-price" th:text="${favorite.latelySalePrice} + '억'"></div>
          <div class="lately-info"
               th:text="${favorite.latelyContractDate} + ', ' + ${favorite.latelyFloor} + '층, ' + ${favorite.latelyExclusiveArea} + '㎡'"></div>
        </div>
        <div class="sale-info">
          <div>
            <span class="sale-title">전체 매매가</span>
            <span class="sale-price"
                  th:text="${favorite.minSalePrice} + '억 ~ ' + ${favorite.maxSalePrice} + '억'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:if="${#lists.isEmpty(favoriteList)}">
  	<p>관심매물이 없습니다.</p>
  </div>
  
  <div id="pagination-info"
       th:data-current-page="${currentPage}"
       th:data-total-pages="${totalPages}"
       style="display: none;"></div>
</div>
</html>