<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment">
<head>
  <link rel='stylesheet' th:href='@{/css/footer.css}' type='text/css'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="footer-container">
  <div class="footer-content">
    <p class="footer-title"><i class="fas fa-home"></i> 부동산 4조</p>
    <div class="footer-columns">
      <div class="footer-col">
        <p><i class="fas fa-user"></i> 이주윤 &nbsp; <i class="fas fa-envelope"></i> dlwndbs10@gmail.com</p>
        <p><i class="fas fa-user"></i> 강희원 &nbsp; <i class="fas fa-envelope"></i> gmldnjs077@naver.com</p>
      </div>
      <div class="footer-col">
        <p><i class="fas fa-user"></i> 백재우 &nbsp; <i class="fas fa-envelope"></i> 9712jw@gmail.com</p>
        <p><i class="fas fa-user"></i> 오동건 &nbsp; <i class="fas fa-envelope"></i> o.d.g@kakao.com</p>
      </div>
      <div class="footer-col">
        <p><i class="fas fa-user"></i> 강안수 &nbsp; <i class="fas fa-envelope"></i> ansoo971@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>