<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
<link rel='stylesheet' th:href='@{/css/header.css}' type='text/css' />
</head>
<body>
	<div class="header-container">
		<div class="header-inner-container">
			<div class="header-left-inner-container">
				<div class="logo-container">
					<span>LOGO</span>
				</div>
				<div class="menu-container">
					<span>MENU1</span>
					<span>MENU2</span>
					<span>MENU3</span>
				</div>
				
			</div>
			<div class="header-right-inner-container">
				<div class="user-container">
					<span>login</span>
					<span>join</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>