<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<link rel='stylesheet' th:href='@{/css/home.css}' type='text/css' />
</head>
<body>
	<div class="home-menu-inner-container">
		<div th:replace="search :: search-box"></div>

		
		<div class="search-select-container">
			<div class="select-box">
			    <select name='city' id='city' th:attr="data-cities=${cities}">
			        <option value='select-city' disabled selected>행정구역</option>
	
			    </select>
			</div>
			
		    <div class="select-box">
		        <select name="district" id="district" >
		            <option value='select-district' disabled selected>자치구</option>
		            <!-- 타임리프를 사용하여 서버에서 받은 자치구 목록으로 옵션을 생성 -->
		        </select>
		    </div>
		
		    <div class="select-box">
		        <select name='neighborhood' id='neighborhood'>
		            <option value='select-neighborhood' disabled selected>읍/면/동</option>
		            <!-- 자치구 선택에 따라 동적으로 옵션을 생성 -->
		        </select>
		    </div>
					
			<!-- 가격대 선택 버튼과 팝업을 포함하는 컨테이너 -->
			<div class="price-container">
			    <!-- 가격대 선택 버튼 -->
			    <button id="price-select-btn" class="price-select-btn">가격대 선택</button>
			    
			    <!-- 가격대 선택 팝업창 -->
			    <div id="price-range-popup" class="popup" style="display:none;">
			        <!-- 팝업창 제목 -->
			        <div class="popup-header">
			            <span class="popup-title">가격대 선택</span>
			            <button class="popup-close-btn" onclick="closePopup()">닫기</button>
			        </div>
			         <!-- 최소 가격 선택박스 -->
			        <label for="min-price">최저</label>
			        <select id="min-price" class="price-option" onchange="updateMaxPriceOptions()">
			        	<option value="" disabled>선택하세요</option>
			            <option value="0" >최저가격</option>
			            <option value="1">1억</option>
			            <option value="2">2억</option>
			            <option value="3">3억</option>
			            <option value="4">4억</option>
			            <option value="5">5억</option>
			            <option value="6">6억</option>
			            <option value="7">7억</option>
			            <option value="8">8억</option>
			            <!-- 추가 옵션 -->
			        </select>
			        <!-- 최대 가격 선택박스 -->
			        <label for="max-price">최대</label>
			        <select id="max-price" class="price-option">
			            <!-- 옵션은 JavaScript를 통해 동적으로 생성됩니다 -->
			        </select>
			        <!-- 선택된 가격대 표시 -->
			        <div id="selected-price-range" class="selected-price-range">
			            선택된 가격대: <span id="min-price-display">0원</span> - <span id="max-price-display">최대</span>
			        </div>
			        <!-- 확인 버튼 -->
			        <button class="confirm-btn" onclick="confirmPriceRange()">확인</button>
			    </div>
			</div>
		    
		
		    <!-- 면적대 선택 버튼과 팝업을 포함하는 컨테이너 -->
			<div class="area-container">
			    <!-- 면적대 선택 버튼 -->
			    <button id="area-select-btn" class="area-select-btn">면적대 선택</button>
			    
			    <!-- 면적대 선택 팝업창 -->
			    <div id="area-range-popup" class="popup" style="display:none;">
			        <!-- 팝업창 제목 -->
			        <div class="popup-header">
			            <span class="popup-title">면적대 선택</span>
			            <button class="popup-close-btn" onclick="closeAreaPopup()">닫기</button>
			        </div>
			         <!-- 최소 면적 선택박스 -->
			        <label for="min-area">최소</label>
			        <select id="min-area" class="area-option" onchange="updateMaxAreaOptions()">
			            <option value="0">0</option>
			            <option value="10">10㎡</option>
					    <option value="20">20㎡</option>
					    <option value="30">30㎡</option>
					    <option value="40">40㎡</option>
					    <option value="50">50㎡</option>
					    <option value="60">60㎡</option>
					    <option value="70">70㎡</option>
					    <option value="80">80㎡</option>
					    <option value="90">90㎡</option>
					    <option value="100">100㎡</option>
   					 <!-- 추가적으로 더 많은 옵션을 넣을 수 있습니다 -->
			            <!-- 추가 옵션 -->
			        </select>
			        <!-- 최대 면적 선택박스 -->
			        <label for="max-area">최대</label>
			        <select id="max-area" class="area-option">
			            <!-- 옵션은 JavaScript를 통해 동적으로 생성됩니다 -->
			        </select>
			        <!-- 선택된 면적대 표시 -->
			        <div id="selected-area-range" class="selected-area-range">
			            선택된 면적대: <span id="min-area-display">0㎡</span> - <span id="max-area-display">최대</span>
			        </div>
			        <!-- 확인 버튼 -->
			        <button class="confirm-btn" onclick="confirmAreaRange()">확인</button>
			    </div>
			</div>


		</div>


	    <div class="district-list-container">
        <!-- 기존의 부동산 목록이 표시되는 곳 -->
	    </div>
        <!-- 페이지네이션을 위한 컨테이너 -->
        <div class="pagination"></div>
	</div>

	<script>
	// 팝업창 닫기 함수
	function closePopup() {
	    document.getElementById('price-range-popup').style.display = 'none';
	}
	// 면적대 팝업창 닫기 함수
	function closeAreaPopup() {
	    document.getElementById('area-range-popup').style.display = 'none';
	}
	
	function updateMaxPriceOptions() {
	    var minPrice = parseInt(document.getElementById('min-price').value);
	    var maxPriceSelect = document.getElementById('max-price');
	    maxPriceSelect.innerHTML = ''; // 기존 옵션 제거

	    // '1억 이하' 선택 시 기본 옵션 추가
	    if (minPrice === 0) {
	        var defaultOption = document.createElement('option');
	        defaultOption.value = '1'; // '1억 이하' 옵션의 value 설정
	        defaultOption.textContent = '1억 이하';
	        maxPriceSelect.appendChild(defaultOption);
	    } else {
	        // '1억 이하'가 아닌 다른 최소 가격 선택 시 최대 가격 옵션 생성
	        for (var i = minPrice + 1; i < 9; i++) {
	            var option = document.createElement('option');
	            option.value = i;
	            option.textContent = formatPrice(i);
	            maxPriceSelect.appendChild(option);
	        }
	        
	        // '최대' 옵션 추가
		    var maxOption = document.createElement('option');
		    maxOption.value = '180'; // '최대' 옵션의 value를 서버에 전달할 실제 값으로 설정
		    maxOption.textContent = '최대';
		    maxPriceSelect.appendChild(maxOption);
		    maxPriceSelect.value = 'max'; // '최대' 옵션을 기본값으로 설정
	    }
	   

	    updatePriceDisplay(); // 선택된 가격대 표시 업데이트
	}

	// 선택된 가격대 표시 업데이트 함수
	function updatePriceDisplay() {
	    var minPrice = document.getElementById('min-price').value;
	    var maxPrice = document.getElementById('max-price').value;
	    var maxPriceSelect = document.getElementById('max-price');
	    var minPriceDisplay = minPrice === '0' ? '0' : formatPrice(minPrice);
	    var maxPriceDisplay = maxPriceSelect ? '1억 이하' : (maxPrice === '180' ? '최대' : formatPrice(maxPrice));
	    
	    document.getElementById('min-price-display').textContent = minPriceDisplay;
	    document.getElementById('max-price-display').textContent = maxPriceDisplay;
	}
	
	// 가격 포맷 함수
	function formatPrice(price) {
	    if (price === '180') {
	        return '최대'; // 화면에 표시되는 텍스트
	    }
	    // 가격을 원하는 포맷으로 변환
	    return new Intl.NumberFormat('ko-KR').format(price) + '억';
	}

	// 가격대 확인 함수
	function confirmPriceRange() {
	    var minPrice = document.getElementById('min-price').value;
	    var maxPrice = document.getElementById('max-price').value;


	    // 화면에 표시
	    document.getElementById('min-price-display').textContent = formatPrice(minPrice);
	    document.getElementById('max-price-display').textContent = maxPrice === '180' ? '최대' : formatPrice(maxPrice);

	    // TODO: 서버로 값 전송하는 로직 구현
	    if (validatePriceSelection()) {
	        sendSearchCriteria();
	    }
	    closePopup(); // 가격대를 확인한 후 팝업창을 닫습니다.
	}
	
	
	// 가격 선택 검증 함수 (예시)
	function validatePriceSelection() {
	    // 여기에 가격 선택을 검증하는 코드를 작성합니다.
	    // 예를 들어, 최소 가격이 최대 가격보다 낮은지 확인합니다.
	    var minPrice = parseInt($('#min-price').val());
	    var maxPrice = parseInt($('#max-price').val());
	    return minPrice <= maxPrice;
	}

 	// 페이지 로드 시 최대 가격 옵션 초기화 및 선택된 가격대 표시 업데이트
	document.addEventListener('DOMContentLoaded', function() {
	    updateMaxPriceOptions();
	    updateMaxAreaOptions();
	    // 면적대 선택 버튼 클릭 이벤트 리스너
	    document.getElementById('area-select-btn').addEventListener('click', function() {
	      var popup = document.getElementById('area-range-popup');
	      popup.style.display = popup.style.display === 'block' ? 'none' : 'block';
	    });
	}); 
	

	// 최소 가격 선택박스 변경 시 최대 가격 옵션 업데이트 및 선택된 가격대 표시 업데이트
	document.getElementById('min-price').addEventListener('change', function() {
	    updateMaxPriceOptions();
 	    updatePriceDisplay();
 	});

	
	// 선택박스 변경 이벤트 리스너
	document.getElementById('max-price').addEventListener('change', function(){
		updatePriceDisplay();
	});

	// 가격대 선택 버튼 클릭 이벤트 리스너
	document.getElementById('price-select-btn').addEventListener('click', function() {
	    var popup = document.getElementById('price-range-popup');
	    popup.style.display = popup.style.display === 'block' ? 'none' : 'block';
	});

	
function sendSearchCriteria() {
	// 선택된 도시, 자치구, 가격대, 면적을 가져옵니다.
	var district = $('#district').val() === 'all' ? null : $('#district').val();
	var neighborhood = $('#neighborhood').val() === 'all' ? null : $('#neighborhood').val();
 	var minPrice = $('#min-price').val(); // 최소 가격을 가져옵니다.
    var maxPrice = $('#max-price').val(); // 최대 가격을 가져옵니다. 
	var minArea = $('#min-area').val();
    var maxArea = $('#max-area').val();
 	// 서버에 전송할 가격대 데이터를 설정합니다.
    var PriceMin = !minPrice ? 0 : parseInt(minPrice);
    var PriceMax = !maxPrice || maxPrice === '180' ? 180 : parseInt(maxPrice);

    var ExclusiveSizeMin = minArea === '0' ? 0 : parseInt(minArea);
    var ExclusiveSizeMax = maxArea === 'max' ? 320 : maxArea === '0' ? 320 : parseInt(maxArea);
    
 	// 사용자가 선택한 가격 범위, 면적 범위, 도시, 구, 동에 따라 부동산 개수를 가져오는 함수
    getFilteredEstateCount(district, neighborhood, PriceMin, PriceMax, ExclusiveSizeMin, ExclusiveSizeMax)
		    .then(totalCount => {
		        // totalCount를 사용하여 페이지네이션을 생성합니다.
		        createPagination(currentPageNumber, Math.ceil(totalCount / 10)); // 여기서 10은 한 페이지에 표시할 게시물 수입니다.
		    })
		    .catch(error => {
		        console.error('Error fetching total count:', error);
		    });

	// AJAX 요청을 설정합니다.
	$.ajax({
		url: '/realestate/search/byCriteria', // 컨트롤러의 URL
		type: 'POST',
		contentType: 'application/json',
		data: JSON.stringify({
			districtName: district,
			neighborhoodName: neighborhood,
			PriceMin: PriceMin,
			PriceMax: PriceMax,
			ExclusiveSizeMin: ExclusiveSizeMin,
			ExclusiveSizeMax:ExclusiveSizeMax,
			page: currentPageNumber // 전역 변수를 사용하여 현재 페이지 번호를 추가합니다
		}),
		dataType: 'json',
		success: function (response) {
			// 서버로부터 응답을 받으면 실행되는 함수
			console.log('검색 결과:', response);
			// TODO: 검색 결과를 화면에 표시하는 로직을 여기에 작성합니다.
			showRealEstate(response);
		},
		error: function (xhr, status, error) {
			// 요청이 실패하면 실행되는 함수
			console.error('검색 에러:', error);
		}
	});
}
	
// 전용 면적 관려 js


//최소 면적 선택박스 변경 시 최대 면적 옵션 업데이트 함수
function updateMaxAreaOptions() {
 var minArea = parseInt(document.getElementById('min-area').value);
 var maxAreaSelect = document.getElementById('max-area');
 maxAreaSelect.innerHTML = ''; // 기존 옵션 제거

 // 최소 면적 선택 시 최대 면적 옵션 생성
 for (var i = minArea + 10; i <= 100; i += 10) {
     var option = document.createElement('option');
     option.value = i;
     option.textContent = i + '㎡';
     maxAreaSelect.appendChild(option);
 }
 
 // '최대' 옵션 추가
 var maxOption = document.createElement('option');
 maxOption.value = 'max'; // '최대' 옵션의 value 설정
 maxOption.textContent = '최대';
 maxAreaSelect.appendChild(maxOption);
 maxAreaSelect.value = 'max'; // '최대' 옵션을 기본값으로 설정
 updateAreaDisplay(); // 선택된 면적대 표시 업데이트
}

//선택된 면적대 표시 업데이트 함수
function updateAreaDisplay() {
 var minArea = document.getElementById('min-area').value;
 var maxArea = document.getElementById('max-area').value;
 var minAreaDisplay = minArea === '0' ? '0㎡' : minArea + '㎡';
 var maxAreaDisplay = maxArea === 'max' ? '최대' : maxArea + '㎡';
 
 document.getElementById('min-area-display').textContent = minAreaDisplay;
 document.getElementById('max-area-display').textContent = maxAreaDisplay;
}

//면적대 확인 함수
function confirmAreaRange() {
 var minArea = document.getElementById('min-area').value;
 var maxArea = document.getElementById('max-area').value;

 // 화면에 표시
 document.getElementById('min-area-display').textContent = minArea + '㎡';
 document.getElementById('max-area-display').textContent = maxArea === 'max' ? '최대' : maxArea + '㎡';
 
 // TODO: 서버로 값 전송하는 로직 구현
	 sendSearchCriteria();
	 closeAreaPopup(); // 면적대를 확인한 후 팝업창을 닫습니다.
}


	// 최소 가격 선택박스 변경 시 최대 가격 옵션 업데이트 및 선택된 가격대 표시 업데이트
	document.getElementById('min-area').addEventListener('change', function() {
	    updateMaxAreaOptions();
	    updateAreaDisplay();
	});





document.addEventListener('DOMContentLoaded', function() {
    const citySelect = document.getElementById('city');
    const districtSelect = document.getElementById('district');
    const neighborhoodSelect = document.getElementById('neighborhood');

    // 초기 가격대 선택을 비활성화합니다.
    document.getElementById('min-price').selectedIndex = 0; // "0" 옵션을 선택합니다.
    document.getElementById('max-price').innerHTML = ''; // 최대 가격 옵션을 비웁니다.
    updatePriceDisplay(); // 선택된 가격대 표시를 업데이트합니다.

	// Fetch cities and populate city select box
	fetch('/admindivison/cities')
		.then(response => response.json())
		.then(data => {
			data.forEach(city => {
				const option = document.createElement('option');
				option.value = city.cityId;
				option.text = city.cityName;
				citySelect.appendChild(option);
			});
		});


	    // 행정구역 선택 시 이벤트 리스너
	    citySelect.addEventListener('change', function() {
	        const selectedCityId = this.value;
	        districtSelect.innerHTML = '<option value="" disabled selected>자치구</option>'; // 기본 옵션 초기화
	        
	     // "전체" 옵션을 다시 생성합니다.
	        const allOption = document.createElement('option');
	        allOption.value = 'all';
	        allOption.text = '전체';
	        districtSelect.appendChild(allOption);
	        
	        if (selectedCityId && selectedCityId !== 'all') {
	            // AJAX 요청을 통해 서버에서 자치구 목록을 가져옵니다.
	            fetch(`/admindivison/cities/districts?cityId=${selectedCityId}`)
	                .then(response => {
	                    if (!response.ok) {
	                        throw new Error('Network response was not ok');
	                    }
	                    return response.json();
	                })
	                .then(districts => {
	                    districts.forEach(district => {
	                        const option = document.createElement('option');
	                        option.value = district.districtId;
	                        option.text = district.districtName;
	                        districtSelect.appendChild(option);
	                    });
	                })
	                .catch(error => {
	                    console.error('Error fetching districts:', error);
	                    // 에러 처리를 위한 추가적인 사용자 피드백을 여기에 구현할 수 있습니다.
	                });
	        }
	    });
	
	    // 자치구 선택 시 이벤트 리스너
	    districtSelect.addEventListener('change', function() {
	        const selectedDistrictName = this.value;
	        neighborhoodSelect.innerHTML = '<option value="" disabled selected>읍/면/동</option>'; // 기본 옵션 초기화
	        
	     	// "전체" 옵션을 다시 생성합니다.
	        const allOption = document.createElement('option');
	        allOption.value = 'all';
	        allOption.text = '전체';
	        neighborhoodSelect.appendChild(allOption);
	        
	        if (selectedDistrictName && selectedDistrictName !== 'all') {
	            // AJAX 요청을 통해 서버에서 동 목록을 가져옵니다.
	            fetch(`/admindivison/districts/neighborhoods?districtId=${selectedDistrictName}`)
	                .then(response => {
	                    if (!response.ok) {
	                        throw new Error('Network response was not ok');
	                    }
	                    return response.json();
	                })
	                .then(neighborhoods => {
	                    neighborhoods.forEach(neighborhood => {
	                        const option = document.createElement('option');
	                        option.value = neighborhood.neighborhoodName;
	                        option.text = neighborhood.neighborhoodName;
	                        neighborhoodSelect.appendChild(option);
	                    });
	                })
	                .catch(error => {
	                    console.error('Error fetching neighborhoods:', error);
	                });
	        }
	    });
	    
	    
	  //각 셀렉트 박스의 변경 이벤트에 함수를 연결합니다.
	  $('#district, #neighborhood').change(function() {
	  	sendSearchCriteria();  // 조건에 따른 매물 검색 함수 실행.
	  });

});
	</script>
</body>
</html>