<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <div sec:authorize="isAnonymous()">
    <a th:href="@{/users/login}">로그인</a>
  </div>
  <div sec:authorize="isAuthenticated()">
    <a th:href="@{/users/logout}">로그아웃</a>
    <a th:href="@{/users/me}">마이페이지</a>

    <p th:text="'email: ' + ${#authentication.name}"></p>
    <p th:text="'UserID: ' + ${#authentication.principal.userId}"></p>
    <p th:text="'Nickname: ' + ${#authentication.principal.nickname}"></p>
    <p th:text="'CreatedAt: ' + ${#authentication.principal.createdAt}"></p>
  </div>
</body>
</html>