<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <title>부동산사조</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0rm45zpj5b"></script>
  <script type="text/javascript" th:src="@{/js/MarkerClustering.js}"></script>
  <script type="text/javascript" th:src="@{/js/menu.js}"></script>
  <script type="text/javascript" th:src="@{/js/coordinate.js}"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script th:inline="javascript">
    var clusterMarkerImagePath = /*[[@{/assets/images/}]]*/ '../static/assets/images/';
  </script>

  <link rel="stylesheet" th:href='@{/css/bootstrap.min.css}' type='text/css'>
  <link rel='stylesheet' th:href='@{/css/map.css}' type='text/css'/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>


<div th:replace="header :: headerFragment"></div>


<div class="search-container">
  <div class="search-wrapper">
    <div th:replace="search :: search-box"></div>
  </div>
  <button id="toggle-menu-btn" class="toggle-menu-btn">
    <i class="fas fa-chevron-up"></i>
  </button>
</div>

<div id="map"></div>

	<div class="menu" id="home-menu">
	  <div th:insert="~{home :: content}"></div>
	</div>

	 <!-- .district-list-container 클릭시 보이는 컨테이너 -->
	<div id="same-districtid-container" class="same-districtid-container">
		<!-- 닫기 버튼 -->
	    <button type="button" id="close-button" class="btn-close" aria-label="Close"></button>
		<div class="closeable-container">
		    <div id="estate-list"></div>
		</div>
	  	<!-- 페이지네이션 2 컨테이너 -->  
		<div id="customPagination" class="customPagination"></div>
	</div>


<div class="menu" id="apt-info"></div>

<div id="close-btn-template" style="display:none;">
  <div class="close-menu">
    <img th:src="@{/assets/images/close_menu.png}" class='close-menu-img'/>
  </div>
</div>
</body>
</html>