<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>Naver Map with Marker Clustering</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0rm45zpj5b"></script>
<script type="text/javascript" src="../static/js/MarkerClustering.js"></script>
<script type="text/javascript" src="../static/js/map_data.js"></script>
<link rel='stylesheet' href='../static/css/map.css' type='text/css' />
</head>
<body>
	<div class="navbar">
		<div class="navContent" id="homeIcon">
			<img src="../static/assets/images/home.png" />
		</div>
		<div class="navContent" id="commIcon">
			<img src="../static/assets/images/comm.png" />
		</div>
		<div class="navContent" id="userIcon">
			<img src="../static/assets/images/user.png" />
		</div>
	</div>
	<div id="map"></div>
	<div class="menu" id="homeMenu">
		<div class="closeMenu"><img src='../static/assets/images/close_menu.png' class='closeMenuImg'/></div>
			<div class="homeMenuInnerContainer">
			<div class="search">
				<input class="searchBox" type='text' placeholder='검색어 입력' /> <img
					src='../static/assets/images/search.png' />
			</div>
			<div class='searchFilter'>
				<span class='filterId' id='apt'>아파트</span> <span class='filterId'
					id='mf'>연립/다세대</span> <span class='filterId' id='sf'>단독/다가구</span>
				<span class='filterId' id='op'>오피스텔</span>
			</div>
			<div class="searchSelectContainer">
				<select name='city' id='city'>
					<option value='selectCity' disabled='true' selected>행정구역</option>
					<option value='seoul'>서울</option>
				</select> <select name='district' id='district'>
					<option value='selectDistrict' disabled='true' selected>자치구</option>
					<option value='allDistrict'>전체</option>
					<option>데이터 필요</option>
				</select> <select name='price' id='price'>
					<option value='selectPrice' disabled='true' selected>가격대</option>
					<option value='allPrice'>전체</option>
					<option>데이터 필요</option>
				</select> <select name='area' id='area'>
					<option value='selectArea' disabled='true' selected>면적</option>
					<option value='allArea'>전체</option>
					<option>데이터 필요</option>
				</select>
			</div>
		</div>
	</div>
	<div class="menu" id="commMenu">
		Community Menu Content
		<div class="closeMenu"><img src='../static/assets/images/close_menu.png' class='closeMenuImg'/></div>
	</div>
	<div class="menu" id="userMenu">
		User Menu Content
		<div class="closeMenu"><img src='../static/assets/images/close_menu.png' class='closeMenuImg'/></div>
	</div>
	<div class="menu" id="aptInfo">
	</div>

	<script>
		var map = new naver.maps.Map("map", {
			zoom : 11,
			center : new naver.maps.LatLng(37.5664056, 126.9778222),
			zoomControl : true,
			zoomControlOptions : {
				position : naver.maps.Position.TOP_RIGHT,
				style : naver.maps.ZoomControlStyle.SMALL,
			},
		});

		var markers = [], data = mapData.mapData2;

		for (var i = 0, ii = data.length; i < ii; i++) {
			var spot = data[i];

			if (spot.grd_la !== null && spot.grd_lo !== null) {
				var latlng = new naver.maps.LatLng(spot.LAT, spot.LNG);
				var apt = spot.COMPLEX_NAME;
				var price = spot.SALE_PRICE;
				var estateId = spot.REAL_ESTATE_ID;
				var marker = new naver.maps.Marker({
					position : latlng,
					draggable : false,
					clickable : true,
					icon : {
						content : [ '<div class="marker_container">',
								'<span><strong>' + apt + '</strong>('+price+'억)</span>',
								'<div class="disabled" style="display:none;">'+estateId+'</div>',
								'</div>' ].join(''),
						size : new naver.maps.Size(40, 40),
						anchor : new naver.maps.Point(20, 20)
					}
				});

				markers.push(marker);

				// 마커 클릭 이벤트 핸들러 추가
				// 마커 클릭 이벤트 핸들러 추가
				naver.maps.Event.addListener(marker, 'click', function(e) {
				    var clickedMarker = e.overlay;
				    var clickedApt = $(clickedMarker.getIcon().content).find('strong').text();
				    var ClickedId = $(clickedMarker.getIcon().content).find('.disabled').text();
				    
				    // 아파트 이름을 기준으로 REAL_ESTATE_ID를 찾는 함수 호출
				    /* var realEstateId = getRealEstateId(clickedApt); */ 

				    // 메뉴 내용을 클릭된 마커 정보로 업데이트 (realEstateId를 사용하도록 수정)
				    $('#aptInfo').html(
				        '<p>Clicked Marker Information</p><p>Apt: ' + clickedApt + '</p><p>Real Estate ID: ' + ClickedId + '</p>');

				    // 모든 메뉴를 닫고 aptInfo 메뉴를 열기
				    $('.menu').removeClass('active');
				    $('#aptInfo').addClass('active');

				    // 닫기 버튼 추가
				    var closeBtn = "<div class='closeMenu'><img src='../static/assets/images/close_menu.png' class='closeMenuImg'/></div>";
				    $('#aptInfo').prepend(closeBtn);

				    // 닫기 버튼에 클릭 이벤트 추가
				    $('.closeMenuImg').click(function() {
				        $('#aptInfo').removeClass('active');
				        $(this).remove(); // 닫기 버튼 제거
				    });
				});


			}
		}

		var htmlMarker1 = {
			content : '<div style="position:absolute;cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(../static/assets/images/cluster-marker-1.png);background-size:contain;"></div>',
			size : N.Size(40, 40),
			anchor : N.Point(20, 20)
		}, htmlMarker2 = {
			content : '<div style="position:absolute;cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(../static/assets/images/cluster-marker-2.png);background-size:contain;"></div>',
			size : N.Size(40, 40),
			anchor : N.Point(20, 20)
		}, htmlMarker3 = {
			content : '<div style="position:absolute;cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(../static/assets/images/cluster-marker-3.png);background-size:contain;"></div>',
			size : N.Size(40, 40),
			anchor : N.Point(20, 20)
		}, htmlMarker4 = {
			content : '<div style="position:absolute;cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(../static/assets/images/cluster-marker-4.png);background-size:contain;"></div>',
			size : N.Size(40, 40),
			anchor : N.Point(20, 20)
		}, htmlMarker5 = {
			content : '<div style="position:absolute;cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(../static/assets/images/cluster-marker-5.png);background-size:contain;"></div>',
			size : N.Size(40, 40),
			anchor : N.Point(20, 20)
		};

		var markerClustering = new MarkerClustering({
			minClusterSize : 2,
			maxZoom : 18,
			map : map,
			markers : markers,
			disableClickZoom : false,
			gridSize : 100,
			icons : [ htmlMarker1, htmlMarker2, htmlMarker3, htmlMarker4,
					htmlMarker5 ],
			indexGenerator : [ 10, 100, 200, 500, 1000 ],
			stylingFunction : function(clusterMarker, count) {
				$(clusterMarker.getElement()).find("div:first-child").text(
						count);
			}
		});

		$(document).ready(function() {
		    function toggleMenu(iconId, menuId) {
		        $("#" + iconId).click(function() {
		            var isActive = $("#" + menuId).hasClass("active");

		            $(".menu").removeClass("active");
		            $(".closeMenu").removeClass("active");

		            if (!isActive) {
		                $("#" + menuId).addClass("active");
		                $("#" + menuId).find(".closeMenu").addClass("active"); // 메뉴가 열릴 때 closeMenu 버튼 활성화
		            }
		        });

		        // closeMenu 버튼에 클릭 이벤트 추가
		        $("#" + menuId).find(".closeMenu").click(function() {
		            $("#" + menuId).removeClass("active"); // 메뉴 닫기
		            $(this).removeClass("active"); // closeMenu 버튼 비활성화
		        });
		    }

		    toggleMenu("homeIcon", "homeMenu");
		    toggleMenu("commIcon", "commMenu");
		    toggleMenu("userIcon", "userMenu");
		});


		$(document).ready(function() {
			$('.filterId').click(function() {
				// 모든 필터의 색상을 초기화
				$('.filterId').removeClass('selectedFlag');

				// 클릭된 요소에 클래스 추가
				$(this).addClass('selectedFlag');

				// 클릭된 요소의 id 추출
				var selectedId = $(this).attr('id');
				console.log(selectedId);

				// id를 이용한 추가 작업을 여기에 작성
			});
		});

	</script>
</body>
</html>
