<!-- 유저 마이페이지, 중개사 마이페이지에 적용되는 html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/my-page.css">
  <link rel="stylesheet" href="/css/post-list.css">
  <link rel="stylesheet" href="/css/list.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/my-page.js"></script>

  <meta charset="UTF-8">
  <title>마이페이지</title>
</head>
<body>
<div class="page-wrapper">
  <div th:replace="header :: headerFragment"></div>
  <div class="content-wrapper">
    <div class="custom-container">
      <div class="user-info">
        <span class="nickname">KOSA 님</span>
        <div>
          <span class="user-email">이메일: </span>
          <span class="user-email value">[[${user.email}]]</span>
        </div>
        <div class="user-edit">
          <button class="update">내 정보 수정</button>
          <button class="agent">중개사 신청</button>
          <span class="delete"><a>회원 탈퇴</a></span>
        </div>
      </div>


      <div class="tabs">
        <div class="tab active" data-tab="favorites">관심매물</div>
        <div class="tab" data-tab="posts">작성한 글</div>
      </div>

      <div id="content-container"></div>

    </div>
  </div>
  <div class="pagination"></div>
</div>

<!-- 모달 추가 -->
<div th:replace="~{modals :: modals}"></div>


<script th:inline="javascript">
  /*<![CDATA[*/
  const userId = /*[[${#authentication.principal.userId}]]*/ null;
  /*]]>*/
</script>

<!-- TODO: 탭 선택 시 보여주는 화면이 달라져야 함. + 페이지 버튼도 다른 요청 보내야 함 (관심매물, 작성한 글) -->

</body>
</html>