<!-- 유저 마이페이지, 중개사 마이페이지에 적용되는 html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/my_page.css">
  <link rel="stylesheet" href="/css/list.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/my_page.js"></script>

  <meta charset="UTF-8">
  <title>마이페이지</title>
</head>
<body>
<div class="page-wrapper">
  <div th:replace="header :: headerFragment"></div>
  <div class="content-wrapper">
    <div class="custom-container">
      <div class="user-info">
        <span class="nickname">KOSA 님</span>
        <div>
          <span class="user-email">이메일: </span>
          <span class="user-email value">[[${user.email}]]</span>
        </div>
        <div class="user-edit">
          <button class="update">내 정보 수정</button>
          <button class="agent">중개사 신청</button>
          <span class="delete"><a>회원 탈퇴</a></span>
        </div>
      </div>


      <div class="tabs">
        <div class="tab active" onclick="showFavorites()">관심매물</div>
        <div class="tab" onclick="showPosts()">작성한 글</div>
      </div>

      <div id="content-container">
        <div th:replace="favorite_list :: content"></div>
      </div>


      <!-- TODO: 페이징 기능 추가 -->
      <div class="pagination">
        <span>&lt;</span>
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>&gt;</span>
      </div>
    </div>
  </div>
</div>
<!-- 모달 추가 -->
<div th:replace="~{modals :: modals}"></div>

<!-- TODO: 탭 선택 시 동작 추가 (관심매물, 작성한 글) -->
<script>
  function showFavorites() {
    document.getElementById(
        'content-container').innerHTML = '<div th:replace="favorite_list :: content"></div>';
    document.querySelectorAll('.tab').forEach(tab => tab.classList.remove('active'));
    document.querySelectorAll('.tab')[0].classList.add('active');
  }

  function showPosts() {
    document.getElementById(  // 아직 작성한 글 fragment명은 안 정해짐
        'content-container').innerHTML = '<div th:replace="post_list :: content"></div>';
    document.querySelectorAll('.tab').forEach(tab => tab.classList.remove('active'));
    document.querySelectorAll('.tab')[1].classList.add('active');
  }
</script>
</body>
</html>