<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>대댓글</title>
<link rel="stylesheet" href="styles.css">
<link rel='stylesheet' href='../css/reply.css' type='text/css' />
</head>
<body>
	<div class="menu">
		<div class="commutop">
			<button class="btn btn-custom">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
					fill="currentColor" class="bi bi-arrow-left-short custom-svg"
					viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
						d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                </svg>
			</button>
			<div class="commutext">
				<h3>대댓글</h3>
			</div>
		</div>
		<hr>
		<!--댓글-->
		<div class="comment">
			<div class="nickName">
				<span>닉네임</span>
			</div>
			<div class="location">
				<span>동</span>
			</div>
			<div>댓글 내용</div>
		</div>
		<!--대댓글-->
		<div class="reply">
			<div class="reNickName">
				<span>닉네임</span>
			</div>
			<div class="reLocation">
				<span>동</span>
			</div>
			<div>댓글이다.</div>
			<br>
			<hr color="e0e0e0">
		</div>
		<div class="comment-box">
			<input type="text" placeholder="댓글을 입력해주세요." />
			<button class="commentSub">등록</button>
		</div>
	</div>
</body>
</html>
