<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.realestate.admindivision.repository.AdminDivisionRepository">

	<!-- 행정구역 조회 -->
	<select id="selectCityList" resultType="City">
		select city_id 		cityId
			 , city_name 	cityName
		  from city
	</select>
	
	
	<!-- 자치구 조회 -->
	<select id="selectDistrictList" parameterType="long" resultType="District">
		select district_id      districtId
         	 , city_id          cityId
         	 , district_name    districtName
      	  from district
     	 where city_id = #{cityId}
	</select>

	<!--  행정동 조회 -->
	<select id="selectNeighborhoodList" parameterType="long" resultType="Neighborhood">
        select neighborhood_id      neighborhoodId
             , district_id          districtId
             , neighborhood_name    neighborhoodName
          from neighborhood
         where district_id = #{districtId}
	</select>


	<select id="selectAutoSearshList" resultType="AutoSearchDTO">
		select 0            seq
				 , city_name    name
		  from city
		 union
		select 1                                        seq
				 , ci.city_name || ' ' || di.district_name  name
			from city     ci
inner join district di
				on di.city_id = ci.city_id
		 union
		select 2                                               seq
				 , di.district_name || ' ' || ne.neighborhood_name name
			from district         di
inner join neighborhood     ne
				on ne.district_id   = di.district_id
		 union
		select 3                                                seq
				 , ne.neighborhood_name || ' ' || re.complex_name   name
		  from neighborhood         ne
inner join real_estate          re
				on re.neighborhood_id   = ne.neighborhood_id
  order by seq
	</select>

</mapper>