<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.realestate.comments.repository.CommentRepository">

  	<!-- 댓글 아이디 기준 조회 -->
	<select id="selectCommentByCommentId" parameterType="Long" resultType="CommentDTO">
		select comment_id
         	 , upper_comment_id
         	 , post_id
         	 , user_id
         	 , comments
         	 , to_char(created_at, 'yyyy-mm-dd hh24:mi:ss') created_at
		  from comments
		 where comment_id      = #{commentId}
		   and is_deleted   = UPPER('N')
	</select>


	<!-- 게시물 기준 조회 -->
	<select id="selectCommentByPostId" parameterType="Long" resultType="CommentDTO">
		select c.comment_id
         	 , c.upper_comment_id
         	 , c.post_id
         	 , c.user_id
         	 , c.comments
         	 , c.created_at
         	 , u.nickname AS "nickname"
		  from comments c
		  INNER JOIN users u ON c.user_id = u.user_id
		  where c.post_id      = #{postId}
		  and c.is_deleted   = UPPER('N')
	  order by created_at ASC
	</select>
	

	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="CommentDTO">
        insert
          into comments 
             ( post_id
             , user_id
             , comments
             )
        values 
             ( #{postId}
             , #{userId}
             , #{comments}
             )	
	</insert>


 	<!-- 댓글 수정 -->
 	<update id="modifyComment" parameterType="map">
 		update comments
       	   set comments     = #{commentForm.comments, jdbcType=VARCHAR}
             , updated_at   = current_date
		 where comment_id   = #{commentId}
 	</update>


	<!-- 댓글 삭제 수정 -->
	<update id="modifyCommentDelete" parameterType="Long">
		update comments
		   set is_deleted	= 'Y'
		 where comment_id 	= #{commentId} 
	</update>

</mapper>