<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>budongsan</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0rm45zpj5b"></script>
	<script type="text/javascript" th:src="@{/js/MarkerClustering.js}"></script>
	<script type="text/javascript" th:src="@{/js/map_data.js}"></script>
	<link rel='stylesheet' th:href='@{/css/map.css}' type='text/css' />
	<script th:inline="javascript">
		var clusterMarkerImagePath = /*[[@{/assets/images/}]]*/ '../static/assets/images/';

	</script>
</head>

<body>
	<div class="navbar">
		<div class="navContent" id="homeIcon">
			<img th:src="@{/assets/images/home.png}" />
		</div>
		<div class="navContent" id="commIcon">
			<img th:src="@{/assets/images/comm.png}" />
		</div>
		<div class="navContent" id="userIcon">
			<img th:src="@{/assets/images/user.png}" />
		</div>
	</div>
	<div id="map"></div>
	<div class="menu" id="homeMenu">
		<div class="closeMenu"><img th:src="@{/assets/images/close_menu.png}" class='closeMenuImg' /></div>
		<div th:insert="~{home :: content}"></div>
	</div>
	<div class="menu" id="commMenu">
		<div class="closeMenu">
			<img th:src="@{/assets/images/close_menu.png}" class='closeMenuImg' />
		</div>
	</div>
	<div class="menu" id="userMenu">
		User Menu Content
		<div class="closeMenu">
			<img th:src="@{/assets/images/close_menu.png}" class='closeMenuImg' />
		</div>
	</div>
	<div class="menu" id="aptInfo"></div>

	<div id="closeBtnTemplate" style="display:none;">
		<div class="closeMenu">
			<img th:src="@{/assets/images/close_menu.png}" class='closeMenuImg' />
		</div>
	</div>

	<script>
		var map = new naver.maps.Map("map", {
			zoom: 11,
			center: new naver.maps.LatLng(37.5664056, 126.9778222),
			zoomControl: true,
			zoomControlOptions: {
				position: naver.maps.Position.TOP_RIGHT,
				style: naver.maps.ZoomControlStyle.SMALL,
			},
		});

		var markers = [], data = mapData.mapData2;

		for (var i = 0, ii = data.length; i < ii; i++) {
			var spot = data[i];

			if (spot.grd_la !== null && spot.grd_lo !== null) {
				var latlng = new naver.maps.LatLng(spot.LAT, spot.LNG);
				var apt = spot.COMPLEX_NAME;
				var price = spot.SALE_PRICE;
				var estateId = spot.REAL_ESTATE_ID;
				var marker = new naver.maps.Marker({
					position: latlng,
					draggable: false,
					clickable: true,
					icon: {
						content: ['<div class="marker_container">',
							'<span><strong>' + apt + '</strong>(' + price + '억)</span>',
							'<div class="disabled" style="display:none;">' + estateId + '</div>',
							'</div>'].join(''),
						size: new naver.maps.Size(40, 40),
						anchor: new naver.maps.Point(20, 20)
					}
				});

				markers.push(marker);

				// 마커 클릭 이벤트 핸들러 추가
				// 마커 클릭 이벤트 핸들러 추가
				naver.maps.Event.addListener(marker, 'click', function (e) {
					var clickedMarker = e.overlay;
					var clickedApt = $(clickedMarker.getIcon().content).find('strong').text();
					var ClickedId = $(clickedMarker.getIcon().content).find('.disabled').text();

					// 아파트 이름을 기준으로 REAL_ESTATE_ID를 찾는 함수 호출
					/* var realEstateId = getRealEstateId(clickedApt); */

					// 메뉴 내용을 클릭된 마커 정보로 업데이트 (realEstateId를 사용하도록 수정)
					$('#aptInfo').html(
						'<p>Clicked Marker Information</p><p>Apt: ' + clickedApt + '</p><p>Real Estate ID: ' + ClickedId + '</p>');

					// 모든 메뉴를 닫고 aptInfo 메뉴를 열기
					$('.menu').removeClass('active');
					$('#aptInfo').addClass('active');

					// 닫기 버튼 추가 
					var closeBtn = $('#closeBtnTemplate').html();
					$('#aptInfo').prepend(closeBtn);

					// 닫기 버튼에 클릭 이벤트 추가
					$('.closeMenuImg').click(function () {
						$('#aptInfo').removeClass('active');
						$(this).remove(); // 닫기 버튼 제거
					});
				});


			}
		}

		var htmlMarker1 = {
			content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(' + clusterMarkerImagePath + 'cluster-marker-1.png);background-size:contain;"></div>',
			size: N.Size(40, 40),
			anchor: N.Point(20, 20)
		}, htmlMarker2 = {
			content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(' + clusterMarkerImagePath + 'cluster-marker-2.png);background-size:contain;"></div>',
			size: N.Size(40, 40),
			anchor: N.Point(20, 20)
		}, htmlMarker3 = {
			content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(' + clusterMarkerImagePath + 'cluster-marker-3.png);background-size:contain;"></div>',
			size: N.Size(40, 40),
			anchor: N.Point(20, 20)
		}, htmlMarker4 = {
			content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(' + clusterMarkerImagePath + 'cluster-marker-4.png);background-size:contain;"></div>',
			size: N.Size(40, 40),
			anchor: N.Point(20, 20)
		}, htmlMarker5 = {
			content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background-image:url(' + clusterMarkerImagePath + 'cluster-marker-5.png);background-size:contain;"></div>',
			size: N.Size(40, 40),
			anchor: N.Point(20, 20)
		};

		var markerClustering = new MarkerClustering({
			minClusterSize: 2,
			maxZoom: 18,
			map: map,
			markers: markers,
			disableClickZoom: false,
			gridSize: 100,
			icons: [htmlMarker1, htmlMarker2, htmlMarker3, htmlMarker4,
				htmlMarker5],
			indexGenerator: [10, 100, 200, 500, 1000],
			stylingFunction: function (clusterMarker, count) {
				$(clusterMarker.getElement()).find("div:first-child").text(
					count);
			}
		});

		$(document).ready(function () {
			function toggleMenu(iconId, menuId) {
				$("#" + iconId).click(function () {
					var isActive = $("#" + menuId).hasClass("active");

					$(".menu").removeClass("active");
					$(".closeMenu").removeClass("active");

					if (!isActive) {
						$("#" + menuId).addClass("active");
						$("#" + menuId).find(".closeMenu").addClass("active"); // 메뉴가 열릴 때 closeMenu 버튼 활성화
					}
				});

				// closeMenu 버튼에 클릭 이벤트 추가
				$("#" + menuId).find(".closeMenu").click(function () {
					$("#" + menuId).removeClass("active"); // 메뉴 닫기
					$(this).removeClass("active"); // closeMenu 버튼 비활성화
				});
			}

			toggleMenu("homeIcon", "homeMenu");
			toggleMenu("commIcon", "commMenu");
			toggleMenu("userIcon", "userMenu");
		});







		// 페이지네이션 생성 함수
		function createPagination(currentPage, totalPages) {
			console.log(totalPages);

			var paginationHtml = '<div class="pagination">';
			var startPage, endPage;

			if (totalPages <= 10) {
				// 전체 페이지 수가 10 이하인 경우 모든 페이지 번호를 표시
				startPage = 1;
				endPage = totalPages;
			} else {
				// 전체 페이지 수가 10을 초과하는 경우
				var maxPage = 10;
				var halfMaxPage = Math.floor(maxPage / 2);

				if (currentPage <= halfMaxPage) {
					startPage = 1;
					endPage = maxPage;
				} else if (currentPage + halfMaxPage >= totalPages) {
					startPage = totalPages - maxPage + 1;
					endPage = totalPages;
				} else {
					startPage = currentPage - halfMaxPage;
					endPage = currentPage + halfMaxPage - 1;
				}
			}

			// '처음' 페이지로 이동하는 버튼
			if (startPage > 1) {
				paginationHtml += '<button class="page-item page-link" data-page="1">처음</button>';
			}

			// '이전' 버튼 생성
			if (currentPage > 1) {
				paginationHtml += '<button class="page-item page-link" data-page="' + (currentPage - 1) + '">이전</button>';
			}

			// 페이지 번호 버튼 생성
			for (var i = startPage; i <= endPage; i++) {
				paginationHtml += '<button class="page-item page-link' + (i === currentPage ? ' active' : '') + '" data-page="' + i + '">' + i + '</button>';
			}

			// '다음' 버튼 생성
			if (currentPage < totalPages) {
				paginationHtml += '<button class="page-item page-link" data-page="' + (currentPage + 1) + '">다음</button>';
			}

			// '마지막' 페이지로 이동하는 버튼
			if (endPage < totalPages) {
				paginationHtml += '<button class="page-item page-link" data-page="' + totalPages + '">마지막</button>';
			}

			paginationHtml += '</div>';
			$('.pagination').html(paginationHtml);
		}






		// AJAX를 사용하여 부동산 목록 데이터를 가져오는 함수
		function fetchRealEstateData(realEstateId, page, size) {
			$.ajax({
				url: '/real-estate/search',
				type: 'GET',
				data: {
					realEstateId: realEstateId,
					page: page,
					size: size
				},
				success: function (data) {
					if (data && data.length > 0) {
						//데이터가 존재하는 경우, HTML 생성 및 삽입
						let realEstateListHtml = '';
						data.forEach(function (realEstate) {
							realEstateListHtml += `<div class="realEstateItem"><h4>${realEstate.realEstateSale.salesId}</h4></div>`;
						});

						$('.districtListContainer').html(realEstateListHtml);
					} else {
						// 데이터가 없을 경우, 사용자에게 알림
						$('.districtListContainer').html('<p>부동산 목록이 없습니다.</p>')
					}

				},
				error: function (error) {
					console.error('데이터를 가져오는데 실패했습니다:', error);
				}
			});
		}

		// 총 데이터 개수를 가져오는 AJAX 요청 함수
		function fetchEstateCount(realEstateId) {
			$.ajax({
				url: '/real-estate/count',
				type: 'GET',
				data: { realEstateId: realEstateId },
				success: function (count) {
					totalEstateCount = count;
					console.log(count);
					createPagination(1, Math.ceil(count / 10));
				},
				error: function (error) {
					console.error('Error fetching estate count:', error);
				}
			});
		}

		// 총 데이터 개수를 가져오는 AJAX 요청 함수
		function fetchEstateCount(realEstateId) {
			return new Promise((resolve, reject) => {
				$.ajax({
					url: '/real-estate/count',
					type: 'GET',
					data: { realEstateId: realEstateId },
					success: function (count) {
						console.log(count);
						resolve(count);
					},
					error: function (error) {
						console.error('Error fetching estate count:', error);
						reject(error);
					}
				});
			});
		}
		// 페이지 번호 클릭 이벤트 핸들러
		$(document).on('click', '.page-link', function (e) {
			e.preventDefault();
			var selectedPage = parseInt($(this).data('page'));
			console.log(selectedPage);
			fetchEstateCount(0).then(allCount => {
				console.log(allCount);
				fetchRealEstateData(0, selectedPage, 10); // 여기서 0은 realEstateId의 예시 값입니다.
				createPagination(selectedPage, Math.ceil(allCount / 10));
			}).catch(error => {
				console.error('Error in pagination:', error);
			});
		});

		// #homeIcon 클릭 시 데이터를 가져오는 함수와 전체 게시물 수를 가져오는 함수를 호출합니다.
		$('#homeIcon').click(function () {
			fetchEstateCount(0).then(allCount => {
				console.log(allCount);
				createPagination(1,Math.ceil(allCount/10));
			}); // 첫 번째 페이지 데이터와 총 데이터 개수를 가져옵니다.
			fetchRealEstateData(0, 1, 10); //첫 번째 페이지 
		});

		//
	</script>
</body>

</html>